body {
    background-color: silver;
    display: inline;
  }

#main {
    
    margin: 50px 100px auto;
    border-radius: 20px;
    padding: 5px;
    background-color: gray;
  }
  
#header{
  background-color: lightskyblue;
}

#header,
#footer{
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
#Menu {
   
   padding: 10px;
   text-align: center;
   border:solid 5px black;
}
  
#Menu a {
   color: white;
   text-decoration: none;
   padding: 0px 20px;
}
  
#Menu a:hover {
   border: solid 1px black;
   color: lightskyblue;
}

/* -----------------------------------------------------------------------------Index---------------------------------------------------------- */

#quotes {
 font-family: monospace;
 color: whitesmoke;
}


#section {
   background-color: gray;
   border: solid 5px black;
   text-align: center;
   display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.bloc-video{
  width: 100%;
  max-width: 800px;
  margin-bottom: 0;
  padding-bottom: 0px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bloc-video video{
  width: 100%;

}

#article {
   margin-top: 50px;
   font-family: monospace;
   font-size: 20px;
   font-style: inherit;
   text-align: center;
}



/* ---------------------------------------------------------------------Apropos------------------------------------------------------------------ */


#photos{
  float:right;
  margin-right: 30px;
  
}


#article2 {
  margin-top: 50px;
  font-family: monospace;
  font-size: 20px;
  font-style: inherit;
  text-align: center;
}
  
#article2 {
  font-style: oblique;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-indent:40px ;
}

#article2 p{
  text-align: justify;
}


/* ----------------------------------------------------------------------Services----------------------------------------------------------------- */


.sectiondatarecovery,.sectionpcrepair{
  flex-direction: row;
}

#bloc1{
  width: 10%;
  flex-direction: column;

}

#bloctext{
  width: 90%;
  flex-direction: column;

}

#plan{
  display: flex;
  flex-direction: row;
 
}


.content {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1192px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  #contactinfotext{
    text-align: center;
  }
  #contactlogo{
    align-items: center;
  }

}


#plan1{
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  width: 50%;
  font-size: 25px
}

#plan2{
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
  width:50%;
  font-size: 25px
}

/* -----------------------------------------------------------------------Nos Prix---------------------------------------------------------------- */

#alltables{

  width: 10%!important;
  margin-bottom: 0;
  padding-bottom: 0px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
#Table1{
  margin: 40px 40px 40px 550px;
}

#Table2{
  margin: 20px 40px 40px 380px;
}

 #Table3{
   margin: 20px 20px 20px 380px;
 }

 #Table4{
  margin: 20px 20px 20px 380px;
}
 

table th,
table td {
  border: solid black 1px;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

table thead th {
  background-color: lightgreen;
  color:black;
}

table tbody td:last-child{
  text-align: left;
  font-style: italic;
}



/* --------------------------------------------------------------------------Carieres------------------------------------------------------------- */


#Job_Photo{
  width: 100% !important;
  margin-bottom: 0;
  padding-bottom: 0px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#Job_Photo img{
  width: 50%;
  height: auto;
}

#article3 {
  margin-top: 50px;
  font-family: monospace;
  font-size: 20px;
  font-style: inherit;
  text-align: center;
}


/* ---------------------------------------------------------------Contact US ------------------------------------------------------------------------ */

.content {
  display: flex;
  flex-direction: row;
}

#contactinfotext{
  background-color: grey;
  text-align: left;
}

#contactlogo{
  background-color: grey;
  text-align: right;
  padding-top: 2%;
  padding-right: 2%;
  width:30%;
  margin: 20%;
}

#contactform {
  padding-top: 2%;
  width:20%;
}


/* ---------------------------------------------------------------Footer------------------------------------------------------------------------ */

#footer {
  margin-top: 5%;
  clear: left;
  border:solid 5px black;
}

#footerup{
  background-color :gray;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#footerup a{
  padding: 0px 10px;
}